*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: arial;
}
a{
    text-decoration: none;
}
body{
    background: #444;
    margin: 150px auto;
}
.hizala {
  text-align: center;
  width:850px;
  padding: 50px;
  margin:30px auto;
  box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.125) inset, 2px 2px 5px 2px rgba(0,0,0,0.5);
  border-radius: 25px;
  background:lightgray;
  transition: 500ms;
  
}
table{
    
    margin: 25px auto;
    text-align: center;
}
table tr th{
    text-align: center;
    padding: 5px 10px;
}
a{
    display: block;
    padding: 5px 10px;
}
input{
     margin: 10px;
    padding: 10px 15px;
    background: #dff;
    border: none;
    margin: 10px 20px;
    box-shadow: 2px 2px 5px 2px rgba(0, 75, 75, 0.25);
    border-radius: 20px;
    cursor: pointer;
    transition: 300ms;
}
input:hover{
    background: #aff;
    box-shadow: 2px 2px 5px 2px rgba(0, 75, 75, 0.5);
}